[Unit]
Description=postfix-tlspol daemon
After=nss-lookup.target network-online.target
Wants=nss-lookup.target

[Service]
ExecStart=/usr/bin/postfix-tlspol -config /etc/postfix-tlspol/config.yaml
ExecReload=/bin/kill -HUP $MAINPID
DynamicUser=yes
Restart=always
RestartSec=5
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
LockPersonality=yes
PrivateUsers=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectClock=yes
ProtectSystem=full
ProtectHostname=yes
ProtectProc=invisible
ProcSubset=pid
RestrictRealtime=yes
RestrictNamespaces=yes
RestrictSUIDSGID=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RemoveIPC=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
SystemCallErrorNumber=EPERM
CapabilityBoundingSet=
ReadOnlyPaths=/etc/postfix-tlspol
UMask=0111
RuntimeDirectory=postfix-tlspol
RuntimeDirectoryMode=1755
StateDirectory=postfix-tlspol
WorkingDirectory=/var/lib/postfix-tlspol

[Install]
WantedBy=multi-user.target
