version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "chore(deps)"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: docker
    directory: /deployments
    schedule:
      interval: weekly
    commit-message:
      prefix: "build(docker)"

  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
    allow:
      - dependency-type: all
    commit-message:
      prefix: "build(deps)"
    groups:
      golang-x:
        patterns:
          - "golang.org/x/*"
