[Unit]
Description=postfix-tlspol
After=nss-lookup.target network-online.target

[Service]
WorkingDirectory=/opt/postfix-tlspol
ExecStart=/opt/postfix-tlspol/postfix-tlspol config.yaml
ExecReload=/bin/kill -HUP $MAINPID
User=postfix
Restart=always

[Install]
WantedBy=multi-user.target
